.card-wrapper {
	margin-left: 5%;
	margin-right: 5%;


  	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10%;
	grid-row-gap: 2%;

	height:auto;

}

.card {
	background-color: #520d1c;
	padding:16px;
	border-radius: 6px;
	box-shadow: 1px 1px 5px 6px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 1px black;

	display:flex;
	flex-direction: column;
	align-items: center;
	
}

.card:hover {
	border: 2px solid #fbd11e;
}

.card a {
	flex-grow: 1;

	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.card img {
	width: 100%;
	height:400px;
	object-fit: cover;
	border-radius: 6px;
	box-shadow: 1px 1px 5px 6px rgba(0,0,0,0.3);
}

.card h3 {
	color:#fbd11e;;
	text-align: center;
	font-size: 50px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.card p {
	background-color: black;
	border: 2px solid #fbd11e;
	border-radius:10px;

	margin-bottom: 5px;
	margin-top: 5px;

	padding:6px;
	color:white;
	text-align: center;
	font-size: 30px;
}



@media (min-width: 576px) {
	.card-wrapper {
		grid-template-columns: repeat(2, 1fr);
		height:auto;
	}
}
@media (min-width: 768px) {
	.card-wrapper {
		grid-template-columns: repeat(3, 1fr);
		height:auto;

	}
}

